body {
  font-family: OpenSans, Arial, Helvetica;
  background-color: #ffffff;
  padding: 0;
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@media (min-width: 768px) {
  .page-header {
    background-color: #f1f1f1; } }

@media (min-width: 1150px) {
  .page-header {
    overflow: hidden; } }

@media (min-width: 768px) {
  .page-header--index {
    background-color: #f9f9f9; } }

.header-logo {
  display: block;
  width: 86px;
  height: 35px; }
  .header-logo[href]:hover {
    opacity: 0.6; }
  .header-logo[href]:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .header-logo {
      width: 112px;
      height: 46px; } }
  @media (min-width: 1150px) {
    .header-logo {
      width: 150px;
      height: 75px; } }

.header-logo__image {
  display: block;
  width: 86px;
  height: 35px; }
  @media (min-width: 768px) {
    .header-logo__image {
      width: 112px;
      height: 46px; } }
  @media (min-width: 1150px) {
    .header-logo__image {
      width: 150px;
      height: 75px; } }

.main-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px; }
  @media (min-width: 768px) {
    .main-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.main-nav__logo-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 30px 21px;
  border-bottom: 1px solid #cecece; }
  @media (min-width: 768px) {
    .main-nav__logo-wrapper {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 21px 50px;
      background-color: #ffffff; } }
  @media (min-width: 1150px) {
    .main-nav__logo-wrapper {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding: 7px 0 6px; } }

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none; }
  .main-nav__toggle::before, .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: #000000; }
  .main-nav__toggle::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .main-nav__toggle::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }
  .main-nav__toggle--closed::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 20px;
    height: 1px;
    -webkit-box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
            box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }
  .main-nav__toggle--closed::after {
    display: none; }

@media (min-width: 768px) {
  .main-nav__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media (min-width: 1150px) {
  .main-nav__list {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; } }

.site-list {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 17px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .site-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-left: 50px;
      width: 52%;
      font-size: 15px;
      color: #000000; } }
  @media (min-width: 1150px) {
    .site-list {
      width: 500px;
      border-bottom: 1px solid #cecece;
      font-size: 17px;
      background-color: #ffffff; } }
  .site-list::before {
    content: none;
    position: absolute;
    top: 0;
    right: 500px;
    width: calc(50vw - 575px);
    height: 100%;
    background-color: #ffffff; }
    @media (min-width: 1150px) {
      .site-list::before {
        content: ""; } }
  .site-list--closed {
    display: none; }
    @media (min-width: 768px) {
      .site-list--closed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

@media (min-width: 1150px) {
  .site-list__item:not(:last-child) {
    margin-right: 34px;
    border-right: 1px solid #cecece; } }

.site-list__link {
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid #cecece;
  color: #000000;
  text-decoration: none; }
  .site-list__link[href]:hover {
    opacity: 0.6; }
  .site-list__link[href]:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .site-list__link {
      padding: 18px 37px 18px 0;
      border-bottom: none; } }
  @media (min-width: 1150px) {
    .site-list__link {
      padding: 32px 36px 32px 0; } }

@media (min-width: 1150px) {
  .main-nav__user {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

.user-list {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 17px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .user-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 398px;
      border-bottom: 1px solid #cecece;
      background-color: #ffffff; } }
  @media (min-width: 1150px) {
    .user-list {
      padding-right: 50px;
      width: 500px; } }
  .user-list::after {
    content: none;
    position: absolute;
    top: 0;
    left: 500px;
    width: calc(50vw - 575px);
    height: 100%;
    background-color: #ffffff; }
    @media (min-width: 1150px) {
      .user-list::after {
        content: ""; } }
  .user-list--closed {
    display: none; }
    @media (min-width: 768px) {
      .user-list--closed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.user-list__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid #cecece;
  color: #000000;
  text-decoration: none; }
  @media (min-width: 768px) {
    .user-list__link {
      border-bottom: none; } }
  @media (min-width: 768px) {
    .user-list__link--search {
      padding: 44px 40px;
      border-left: 1px solid #cecece;
      border-right: 1px solid #cecece; } }
  @media (min-width: 768px) {
    .user-list__link--basket {
      padding: 32px 50px 32px 84px; } }
  @media (min-width: 1150px) {
    .user-list__link--basket {
      padding: 32px 0 32px 84px; } }

.user-list__link-image {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #cecece; }
  @media (min-width: 768px) {
    .user-list__link-image {
      left: 32px; } }
  .user-list__link:hover .user-list__link-image,
  .user-list__link:active .user-list__link-image {
    fill: #63d1bb; }
  .user-list__link:active .user-list__link-image {
    fill-opacity: 0.3; }

@media (min-width: 768px) {
  .user-list__link-text {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap; } }

.main-nav__sale {
  display: none; }
  @media (min-width: 1150px) {
    .main-nav__sale {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; } }

.sale-navigation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-left: 50px;
  list-style: none;
  font-size: 15px;
  font-weight: 700; }
  @media (min-width: 1150px) {
    .sale-navigation {
      width: 500px; } }

@media (min-width: 1150px) {
  .sale-navigation__item:not(:last-child) {
    margin-right: 34px; } }

.sale-navigation__link {
  display: block;
  padding: 18px 29px 18px 0;
  color: #000000;
  text-decoration: none; }
  .sale-navigation__link[href]:hover {
    opacity: 0.6; }
  .sale-navigation__link[href]:active {
    opacity: 0.3; }

.main-nav__delivery {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 18px 50px;
  text-align: right; }
  @media (min-width: 768px) {
    .main-nav__delivery {
      display: block;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 48%; } }
  @media (min-width: 1150px) {
    .main-nav__delivery {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      margin-left: auto;
      width: 500px; } }

.menu--opened {
  display: block; }

@media (max-width: 767px) {
  .main-screen {
    display: grid;
    background: url("../img/hero-mobile@1x.jpg") top center; }
    .main-screen__title {
      padding: 69px 30px 125px 30px;
      margin: 0;
      color: #010000;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.1;
      text-align: center; }
    .main-screen__item {
      position: relative;
      padding: 25px 150px 30px 30px;
      color: #ffffff;
      text-decoration: none;
      font-size: 19px;
      font-weight: bold;
      line-height: 1.26; }
      .main-screen__item--interior {
        background-color: #63d1bb; }
        .main-screen__item--interior::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg") no-repeat;
          opacity: 0.5; }
        .main-screen__item--interior:hover {
          background-color: #59d5bc; }
          .main-screen__item--interior:hover::after {
            opacity: 0.7; }
        .main-screen__item--interior:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--interior:active::after {
            opacity: 0.3; }
      .main-screen__item--toys {
        background-color: #56c3b2; }
        .main-screen__item--toys::after {
          position: absolute;
          top: 20%;
          right: 27px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg") no-repeat;
          opacity: 0.5; }
        .main-screen__item--toys:hover {
          background-color: #46c1ae; }
          .main-screen__item--toys:hover::after {
            opacity: 0.7; }
        .main-screen__item--toys:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--toys:active::after {
            opacity: 0.3; } }

@media (min-width: 768px) and (max-width: 1149px) {
  .main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    background: url("../img/hero-tablet@1x.jpg") top center; } }
  @media (min-width: 768px) and (max-width: 1149px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 1149px) and (min-resolution: 144dpi), (min-width: 768px) and (max-width: 1149px) and (min-resolution: 1.5dppx) {
    .main-screen {
      background: url("../img/hero-tablet@2x.jpg") no-repeat top center;
      background-size: cover; } }

@media (min-width: 768px) and (max-width: 1149px) {
    .main-screen::after {
      position: absolute;
      content: "";
      bottom: -1px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: auto 24px; }
    .main-screen__title {
      grid-column: 1/3;
      padding: 154px 0 375px 0;
      margin: 0;
      font-size: 43px;
      font-weight: bold;
      line-height: 1.16;
      text-align: center; }
    .main-screen__item {
      position: relative;
      padding: 30px 187px 40px 35px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.5; }
      .main-screen__item--interior {
        margin: 0 0 0 52px;
        background-color: #63d1bb; }
        .main-screen__item--interior::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg");
          opacity: 0.5; }
        .main-screen__item--interior:hover {
          background-color: #59d5bc; }
          .main-screen__item--interior:hover::after {
            opacity: 0.7; }
        .main-screen__item--interior:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--interior:active::after {
            opacity: 0.3; }
      .main-screen__item--toys {
        margin: 0 50px 0 0;
        background-color: #56c3b2; }
        .main-screen__item--toys::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg");
          opacity: 0.5; }
        .main-screen__item--toys:hover {
          background-color: #46c1ae; }
          .main-screen__item--toys:hover::after {
            opacity: 0.7; }
        .main-screen__item--toys:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--toys:active::after {
            opacity: 0.3; } }

@media (min-width: 1150px) {
  .main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1150px;
    margin: 0 auto;
    background: url("../img/hero-tablet@1x.jpg") center -60px; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .main-screen {
      background: url("../img/hero-tablet@2x.jpg") no-repeat center -60px;
      background-size: auto 750px; } }

@media (min-width: 1150px) {
    .main-screen-wrapper {
      position: relative;
      background-color: #f9f9f9; }
      .main-screen-wrapper::after {
        position: absolute;
        content: "";
        bottom: -1px;
        width: 100%;
        height: 24px;
        background: url("../img/bg-zigzag-fill.svg") repeat-x;
        background-size: auto 24px; }
    .main-screen__title {
      grid-column: 1/3;
      padding: 95px 0 360px 0;
      margin: 0;
      font-size: 53px;
      font-weight: bold;
      line-height: 1.08;
      text-align: center; }
    .main-screen__item {
      position: relative;
      padding: 30px 187px 40px 35px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.5; }
      .main-screen__item--interior {
        margin: 0 0 0 52px;
        background-color: #63d1bb; }
        .main-screen__item--interior::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg");
          opacity: 0.5; }
        .main-screen__item--interior:hover {
          background-color: #59d5bc; }
          .main-screen__item--interior:hover::after {
            opacity: 0.7; }
        .main-screen__item--interior:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--interior:active::after {
            opacity: 0.3; }
      .main-screen__item--toys {
        margin: 0 50px 0 0;
        background-color: #56c3b2; }
        .main-screen__item--toys::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg");
          opacity: 0.5; }
        .main-screen__item--toys:hover {
          background-color: #46c1ae; }
          .main-screen__item--toys:hover::after {
            opacity: 0.7; }
        .main-screen__item--toys:active {
          color: rgba(255, 255, 255, 0.3); }
          .main-screen__item--toys:active::after {
            opacity: 0.3; } }

@media (max-width: 767px) {
  .baskets {
    display: grid;
    padding: 0 30px 42px 30px;
    color: #444444;
    margin: 30px 0 0 0;
    position: relative; }
    .baskets::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 6px;
      background: url("../img/bg-zigzag-line.svg") repeat-x;
      background-size: auto 6px; }
    .baskets__description {
      padding: 0;
      margin: 23px 0 15px;
      font-size: 15px;
      line-height: 1.6; }
    .baskets__title {
      padding: 0;
      margin: 0;
      color: #010000;
      font-size: 25px;
      font-weight: bold; }
    .baskets__list {
      font-size: 15px;
      border-collapse: collapse;
      margin: 0 0 30px 0; }
      .baskets__list tr {
        border-bottom: 1px solid #ececec;
        line-height: 37px; }
    .baskets__parameter {
      width: 37%; }
    .baskets__price {
      margin: 23px 0 27px 0;
      font-weight: bold;
      text-align: center;
      font-size: 17px; }
    .baskets__state {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      color: #63d1bb; }
    .baskets__buy {
      padding: 15px 0 12px;
      color: #444444;
      text-decoration: none;
      text-align: center;
      border: 2px solid #444444;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px; }
      .baskets__buy:hover {
        color: #ffffff;
        background-color: #444444; }
      .baskets__buy:active {
        color: rgba(255, 255, 255, 0.3); }
    .baskets__image {
      width: 100%;
      margin: auto; } }

@media (min-width: 768px) and (max-width: 1149px) {
  .baskets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin: 0;
    padding: 0 53px 70px 50px;
    color: #444444; }
    .baskets::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat-x;
      background-size: auto 15px; }
    .baskets__title {
      grid-column: 1/4;
      margin: 30px 0 45px 0;
      color: #000000;
      font-size: 43px; }
    .baskets__state {
      grid-column: 4/5;
      width: 70px;
      margin: 42px 0 0 auto;
      padding: 0 30px 0 0;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      color: #63d1bb;
      text-align: center; }
    .baskets__description {
      grid-column: 1/3;
      margin: 0 44px 0 0;
      font-size: 17px;
      line-height: 1.76; }
    .baskets__list {
      grid-column: 1/3;
      border-collapse: collapse;
      margin: 35px 44px 0 0; }
      .baskets__list tr {
        border-bottom: 1px solid #ececec;
        line-height: 39px; }
    .baskets picture {
      grid-column: 3/5;
      grid-row: 2/6;
      width: 333px;
      margin: 10px 0 0 auto; }
    .baskets__image {
      grid-column: 3/5;
      grid-row: 2/6;
      width: 333px;
      margin: 10px 0 0 auto; }
    .baskets__price {
      grid-column: 1/3;
      margin: 50px 44px 0 0;
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
    .baskets__buy {
      grid-column: 1/3;
      padding: 15px 0 13px;
      margin: 34px 44px 0 0;
      font-size: 17px;
      color: #444444;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid #444444; }
      .baskets__buy:hover {
        color: #ffffff;
        background-color: #444444; }
      .baskets__buy:active {
        color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 1150px) {
  .baskets {
    display: grid;
    grid-template-columns: 175px 350px 180px 345px;
    position: relative;
    max-width: 1050px;
    margin: 55px auto 0 auto;
    padding: 0 0 100px 0; }
    .baskets::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 1050px;
      height: 23px;
      background: url("../img/bg-zigzag-line.svg") repeat-x 25px;
      background-size: auto 23px; }
    .baskets__title {
      grid-column: 2/4;
      grid-row: 1/2;
      margin: 50px 0 0 0;
      font-size: 53px;
      font-weight: bold;
      z-index: 1; }
    .baskets__description {
      grid-column: 2/3;
      margin: 40px 68px 0 0;
      font-size: 17px;
      line-height: 1.76;
      color: #444444; }
    .baskets__state {
      grid-column: 1/2;
      grid-row: 1/6;
      font-size: 17px;
      line-height: 1;
      font-weight: bold;
      color: #63d1bb;
      text-transform: uppercase;
      text-align: center;
      margin: 65px 58px 0 47px; }
    .baskets picture {
      grid-column: 3/5;
      grid-row: 1/6;
      width: 100%; }
    .baskets__image {
      display: block; }
    .baskets__price {
      margin: 0 58px 30px 0;
      font-size: 20px;
      font-weight: bold;
      color: #444444;
      text-align: center; }
    .baskets__list {
      margin: 40px 58px 102px 0;
      font-size: 15px;
      line-height: 1.33;
      color: #444444;
      border-collapse: collapse; }
      .baskets__list tr {
        border-bottom: 1px solid #ececec;
        line-height: 39px; }
    .baskets__buy {
      padding: 10px 0 10px;
      margin: 0 58px 0 0;
      font-size: 17px;
      color: #444444;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid #444444; }
      .baskets__buy:hover {
        color: #ffffff;
        background-color: #444444; }
      .baskets__buy:active {
        color: rgba(255, 255, 255, 0.3); } }

.about__item::before {
  display: block;
  content: "";
  width: 55px;
  height: 38px;
  margin: 0 0 20px 0; }

.about__item--clear {
  background: url("../img/icon-feature-flower.svg") no-repeat; }

.about__item--style {
  background: url("../img/icon-feature-money.svg") no-repeat; }

.about__item--like {
  background: url("../img/icon-feature-heart.svg") no-repeat; }

.about__item--handmade {
  background: url("../img/icon-feature-ball.svg") no-repeat; }

.about__item--domestic {
  background: url("../img/icon-feature-rocket.svg") no-repeat; }

.about__item--gift {
  background: url("../img/icon-feature-gift.svg") no-repeat; }

@media (max-width: 767px) {
  .about {
    display: grid;
    padding: 0 30px 22px 30px; }
    .about__title {
      margin: 24px 0 21px;
      font-size: 25px;
      font-weight: bold; }
    .about__list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .about__item {
      font-size: 17px;
      font-weight: bold;
      margin: 0 0 30px 0; } }

@media (min-width: 768px) {
  .about {
    display: grid;
    margin: 47px 52px 0 48px;
    grid-row-gap: 47px; }
    .about__title {
      margin: 0;
      font-size: 43px; }
    .about__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 57px 20px;
      grid-template-areas: "clear handmade" "style domestic" "like gift";
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      line-height: 1.1; }
    .about__item--clear {
      grid-area: clear; }
    .about__item--handmade {
      grid-area: handmade; }
    .about__item--style {
      grid-area: style; }
    .about__item--domestic {
      grid-area: domestic; }
    .about__item--like {
      grid-area: like; }
    .about__item--gift {
      grid-area: gift; } }

@media (min-width: 1150px) {
  .about {
    max-width: 1150px;
    margin: 50px auto 0 auto; }
    .about__title {
      font-size: 53px;
      font-weight: bold;
      margin: 0 220px 0 220px; }
    .about__item::before {
      margin-bottom: 15px; }
    .about__list {
      grid-template-columns: repeat(2, 295px);
      grid-column-gap: 60px;
      grid-row-gap: 55px;
      margin: 0 220px 0 220px; } }

@media (max-width: 767px) {
  .reviews {
    display: grid;
    padding: 0 35px 0 30px; }
    .reviews__title {
      padding: 0;
      margin: 0; }
    .reviews__list {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 15px;
      line-height: 2;
      color: #444444; }
    .reviews__body {
      padding: 10px 0 0 0; }
    .reviews__author {
      padding: 0;
      margin: 0;
      font-size: 17px;
      font-weight: bold;
      color: #000000; }
    .reviews__nickname {
      padding: 0;
      margin: 0 0 30px 0; }
    .reviews__controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 0 38px 0; }
    .reviews__control {
      padding: 25px 0 25px;
      cursor: pointer; }
      .reviews__control--prev {
        background: url("../img/icon-left-arrow.svg") no-repeat 50%; }
      .reviews__control--next {
        background: url("../img/icon-right-arrow.svg") no-repeat 50%; }
    .reviews__write {
      padding: 14px 0 14px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #444444;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #444444; }
      .reviews__write:hover {
        color: #ffffff;
        background-color: #444444; }
      .reviews__write:active {
        color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 768px) and (max-width: 1149px) {
  .reviews {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "title write" "list ." ". controls";
    margin: 82px 52px 0 0;
    padding: 0 0 69px 0;
    background: url("../img/review@1x.jpg") no-repeat; }
    .reviews::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat-x;
      background-size: auto 15px; }
    .reviews__title {
      grid-area: title;
      grid-column: 1/2;
      margin: 86px 0 0 48px;
      font-size: 43px;
      font-weight: bold;
      line-height: 1.16; }
    .reviews__list {
      grid-area: list;
      margin: 43px 25px 0 48px;
      padding: 0;
      list-style: none;
      grid-column: 1/3; }
    .reviews__item {
      color: #444444;
      font-size: 17px; }
    .reviews__body {
      margin: 0;
      line-height: 1.76; }
    .reviews__author {
      margin: 58px 0 0 0;
      color: #000000;
      font-size: 18px;
      font-weight: bold; }
    .reviews__nickname {
      margin: 10px 0 0 0;
      font-size: 17px;
      color: #444444; }
    .reviews__write {
      grid-area: write;
      grid-column: 2/3;
      margin: 94px 0 8px 0;
      padding: 12px 41px;
      font-size: 17px;
      font-weight: bold;
      color: #444444;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #444444; }
      .reviews__write:hover {
        color: #ffffff;
        background-color: #444444; }
      .reviews__write:active {
        color: rgba(255, 255, 255, 0.3); }
    .reviews__controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-area: controls; }
    .reviews__control {
      padding: 25px 0 25px;
      cursor: pointer;
      border: none; }
      .reviews__control--prev {
        background: url("../img/icon-left-arrow.svg") no-repeat 50%; }
      .reviews__control--next {
        background: url("../img/icon-right-arrow.svg") no-repeat 50%; } }

@media (min-width: 1150px) {
  .reviews {
    position: relative;
    display: grid;
    grid-template-columns: 5fr 1fr;
    max-width: 1050px;
    margin: 95px auto 0 auto;
    padding: 0 0 90px 0;
    background: url("../img/review@1x.jpg") no-repeat; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .reviews {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: auto 458px; } }

@media (min-width: 1150px) {
    .reviews::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 23px;
      background: url("../img/bg-zigzag-line.svg") repeat-x 25px;
      background-size: auto 23px; }
    .reviews__title {
      margin: 59px 0 40px 170px;
      font-size: 53px;
      font-weight: bold;
      grid-column: 1/2;
      grid-row: 1/2; }
    .reviews__body {
      margin: 0;
      line-height: 1.74;
      color: #444444;
      font-size: 17px; }
    .reviews__list {
      width: 700px;
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 0;
      margin: 0 0 100px 170px;
      list-style: none; }
    .reviews__author {
      margin: 15px 0 6px 0;
      font-size: 17px;
      font-weight: bold; }
    .reviews__nickname {
      margin: 0;
      color: #444444;
      font-size: 17px; }
    .reviews__write {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      padding: 12px 40px;
      margin: 80px 0 40px 0;
      font-size: 17px;
      font-weight: bold;
      color: #444444;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #444444; }
      .reviews__write:hover {
        color: #ffffff;
        background-color: #444444; }
      .reviews__write:active {
        color: rgba(255, 255, 255, 0.3); }
    .reviews__controls {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      grid-row: 2/3;
      grid-column: 2/3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 135px 0 0 0; }
    .reviews__control {
      padding: 25px 0 25px;
      cursor: pointer;
      border: none; }
      .reviews__control--prev {
        background: url("../img/icon-left-arrow.svg") no-repeat 50%; }
      .reviews__control--next {
        background: url("../img/icon-right-arrow.svg") no-repeat 50%; }
      .reviews__control:hover {
        opacity: 0.6; }
      .reviews__control:active {
        opacity: 0.3; } }

@media (max-width: 767px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 25px 62px 27px 57px;
    list-style: none;
    border-bottom: 1px solid #ececec; }
  .page-footer {
    background-color: #f1f1f1; }
    .page-footer .container {
      display: grid;
      padding: 0 30px 0 30px; }
    .page-footer__logo {
      display: none; }
    .page-footer__copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 28px 0 31px;
      color: #000000;
      text-decoration: none;
      font-size: 19px;
      font-weight: bold; } }

@media (min-width: 768px) {
  .page-footer {
    background-color: #f1f1f1; }
    .page-footer .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 51px 50px 51px 50px; }
    .page-footer__social {
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      grid-template-columns: repeat(3, 23px);
      grid-column-gap: 40px;
      padding: 0;
      margin: 0 auto;
      list-style: none; }
    .page-footer__copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 185px;
      justify-self: right;
      font-size: 19px;
      font-weight: bold;
      color: #000000;
      text-decoration: none; }
      .page-footer__copyright svg {
        fill: #63d1bb;
        margin-left: 25px; } }

@media (min-width: 768px) {
  .social__item {
    text-align: center; } }

@media (min-width: 1150px) {
  .page-footer {
    background-color: #f1f1f1; }
    .page-footer .container {
      margin: 0 auto 0 auto;
      max-width: 1150px; }
  .social__link:hover svg {
    fill: #46c1ae; }
  .social__link:active {
    opacity: 0.3; }
  .page-footer__copyright svg {
    fill: #63d1bb;
    margin: 0 0 0 30px; }
  .page-footer__copyright:hover svg {
    fill: #46c1ae; }
  .page-footer__copyright:active {
    opacity: 0.3; } }

@media (max-width: 767px) {
  .contacts {
    display: grid;
    margin: 42px 0 42px; }
    .contacts__title {
      font-size: 18px;
      margin: 0 30px 42px 35px; }
    .contacts__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 30px 42px 35px;
      font-size: 15px;
      color: #444444;
      line-height: 2; }
    .contacts__value {
      margin: 0;
      grid-column: 2/5; }
      .contacts__value--address {
        margin: 0 50px 0 0; }
      .contacts__value--mail a {
        color: #444444;
        -webkit-text-decoration-color: #59d5bc;
                text-decoration-color: #59d5bc; }
    .contacts__button {
      padding: 13px 49px;
      margin: 39px 30px 0 30px;
      color: #444444;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      border: 2px solid #444444; }
      .contacts__button:hover {
        color: #ffffff;
        background-color: #444444; }
      .contacts__button:active {
        color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 768px) and (max-width: 1149px) {
  .contacts {
    display: grid;
    margin: 49px 0 0 0; }
    .contacts__title {
      margin: 0 55px 0 51px;
      font-size: 43px;
      font-weight: bold; }
      .contacts__title::after {
        content: ""; }
    .contacts__list {
      display: grid;
      grid-template-columns: 1fr 4.75fr 1fr 4.75fr;
      margin: 41px 55px 61px 51px;
      font-size: 17px;
      line-height: 1.76;
      color: #444444; }
    .contacts__value {
      margin: 0 0 0 26px; }
      .contacts__value--mail a {
        color: #444444;
        -webkit-text-decoration-color: #63d1bb;
                text-decoration-color: #63d1bb; }
        .contacts__value--mail a:hover {
          color: #46c1ae; }
        .contacts__value--mail a:active {
          opacity: 0.3; }
    .contacts__button {
      margin: 55px auto 57px auto;
      padding: 15px 42px;
      font-size: 17px;
      font-weight: bold;
      color: #444444;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #444444; }
      .contacts__button:hover {
        color: #ffffff;
        background-color: #444444; }
      .contacts__button:active {
        color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 53px;
    max-width: 1050px;
    margin: 76px auto 105px auto; }
    .contacts__button {
      padding: 12px 39px;
      margin: auto auto 0 174px;
      font-size: 17px;
      font-weight: bold;
      color: #444444;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #444444; }
      .contacts__button:hover {
        color: #ffffff;
        background-color: #444444; }
      .contacts__button:active {
        color: rgba(255, 255, 255, 0.3); }
    .contacts__title {
      grid-column: 1/2;
      position: relative;
      padding: 0 0 0 111px;
      margin: 60px 0 0 60px;
      font-size: 53px;
      font-weight: bold; }
      .contacts__title::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 46px;
        height: 81px;
        background-image: url("../img/icon-flag.svg"); }
    .contacts__list {
      grid-column: 1/2;
      display: grid;
      grid-template-columns: 55px 219px;
      grid-column-gap: 26px;
      margin: 0 0 0 174px;
      font-size: 17px;
      color: #444444; }
    .contacts__value {
      margin: 0; }
      .contacts__value--address {
        line-height: 1.76; }
      .contacts__value--mail a {
        color: #444444;
        -webkit-text-decoration-color: #63d1bb;
                text-decoration-color: #63d1bb; }
        .contacts__value--mail a:hover {
          color: #46c1ae; }
        .contacts__value--mail a:active {
          opacity: 0.3; }
    .contacts iframe {
      grid-column: 2/3;
      grid-row: 1/4;
      width: 525px; } }

@media (min-width: 320px) {
  .catalog {
    display: grid;
    margin: 0; }
    .catalog__title {
      padding: 70px 0 70px 0;
      margin: 0;
      font-size: 8.44vw;
      font-weight: bold;
      text-align: center;
      background-color: #f1f1f1; }
    .catalog__list {
      margin: 0 30px 0 30px;
      padding: 0;
      list-style: none; }
    .catalog__item {
      display: grid;
      margin: 30px 0 0 0;
      border: 1px solid #ececec;
      background-color: #ffffff; }
      .catalog__item:hover {
        -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
        .catalog__item:hover .catalog__item__title {
          color: rgba(0, 0, 0, 0.6); }
        .catalog__item:hover .catalog__item__buy svg {
          fill: #63d1bb;
          opacity: 1; }
      .catalog__item:active {
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
        .catalog__item:active .catalog__item__title {
          color: rgba(0, 0, 0, 0.3); }
        .catalog__item:active .catalog__item__buy svg {
          fill: #63d1bb;
          opacity: 0.3; }
      .catalog__item__buy {
        position: relative;
        cursor: pointer; }
        .catalog__item__buy svg {
          position: absolute;
          right: 0;
          width: 6.25vw;
          height: 6.25vw;
          opacity: 0.2; }
      .catalog__item__title {
        margin: 31px 28px 17px 28px;
        font-size: 5.3vw;
        font-weight: bold; }
      .catalog__item__properties {
        margin: 0 28px 0 28px;
        padding: 0 0 27px 0;
        font-size: 4vw;
        color: #444444;
        border-bottom: 1px solid #ececec; }
      .catalog__item__description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 27px 28px 32px 28px; }
      .catalog__item__price {
        font-size: 4.7vw;
        font-weight: bold; }
      .catalog__item__picture {
        width: 100%; } }

@media (min-width: 768px) {
  .catalog {
    display: grid; }
    .catalog__title {
      display: grid;
      position: relative;
      padding: 78px 0 78px 0;
      font-size: 5.6vw; }
      .catalog__title::after {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 24px;
        background: url("../img/bg-zigzag-fill.svg") repeat-x;
        background-size: auto 24px; }
    .catalog__list {
      margin: 0 50px 0 50px; }
    .catalog__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .catalog__item__title {
        grid-column: 2/3;
        margin: 23px 27px 15px 27px;
        font-size: 2.61vw; }
      .catalog__item__properties {
        grid-column: 2/3;
        margin: 0 27px 0 27px;
        padding: 0 0 177px 0;
        font-size: 1.96vw; }
      .catalog__item__description {
        grid-column: 2/3;
        margin: 23px 27px 29px 27px; }
      .catalog__item__price {
        font-size: 2.11vw; }
      .catalog__item picture {
        grid-column: 1/2;
        grid-row: 1/4; }
      .catalog__item__buy svg {
        width: 2.74vw;
        height: 2.74vw; } }

@media (min-width: 1150px) {
  .catalog {
    display: grid; }
    .catalog__list {
      max-width: 1050px;
      margin: 111px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 316px);
      grid-column-gap: 52px; }
    .catalog__title {
      font-size: 53px; }
    .catalog__item {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0; }
      .catalog__item__title {
        grid-column: 1/2;
        font-size: 20px; }
      .catalog__item__properties {
        grid-column: 1/2;
        font-size: 15px;
        padding: 0 0 19px 0; }
      .catalog__item__description {
        grid-column: 1/2; }
      .catalog__item__price {
        font-size: 17px; }
      .catalog__item__buy svg {
        width: 21px;
        height: 18px; } }

@media (min-width: 320px) {
  .process {
    margin: 30px 0 0 0; }
    .process__list {
      padding: 0;
      margin: 0 30px 0 30px;
      list-style: none; }
  .item-video {
    display: grid;
    margin: 0 0 58px 0;
    border: 1px solid #ececec; }
    .item-video__title {
      position: relative;
      margin: 29px 0 26px 0;
      padding: 0 0 0 28.44vw;
      font-weight: bold;
      font-size: 5.32vw;
      line-height: 1.41; }
      .item-video__title::after {
        position: absolute;
        left: 10.63vw;
        top: 10px;
        content: "";
        width: 10vw;
        height: 6.88vw;
        background: url("../img/icon-video.svg") 0 no-repeat;
        background-size: cover; }
    .item-video__picture {
      width: 100%; }
    .item-video picture {
      grid-row: 2/3;
      grid-column: 1/2; }
    .item-video__play {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
      align-self: center;
      width: 101px;
      height: 77px;
      padding: 0;
      background: url("../img/icon-play.svg") no-repeat;
      border: none;
      cursor: pointer;
      z-index: 1; }
      .item-video__play:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .item-video__play:active {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.3; }
    .item-video__description {
      margin: 34px 40px 29px 34px;
      font-size: 4.07vw;
      line-height: 1.85; }
    .item-video__button {
      margin: 0 34px 33px 34px;
      padding: 12px 0 12px 0;
      color: #444444;
      font-size: 5.32vw;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid #444444; }
      .item-video__button:hover {
        color: #ffffff;
        background-color: #444444; }
      .item-video__button:active {
        color: rgba(255, 255, 255, 0.3); } }

@media (min-width: 768px) {
  .process__list {
    margin: 0 50px 0 50px; }
  .item-video__title {
    grid-row: 2/3;
    padding: 0 0 0 13.94vw;
    font-size: 2.61vw; }
    .item-video__title::after {
      top: 2px;
      left: 5.47vw;
      width: 4.17vw;
      height: 2.87vw; }
  .item-video picture {
    grid-row: 1/2; }
  .item-video__play {
    grid-row: 1/2; }
  .item-video__description {
    grid-row: 3/4;
    margin: 30px 40px 40px 40px;
    font-size: 1.96vw;
    color: #444444; }
  .item-video__button {
    grid-row: 4/5;
    font-size: 2.22vw; } }

@media (min-width: 1150px) {
  .process {
    max-width: 1150px;
    margin: 57px auto 0 auto; }
  .process__list {
    margin: 0 47px 0 50px; }
  .item-video {
    grid-template-columns: 685px 289px;
    grid-column-gap: 78px; }
    .item-video picture {
      grid-row: 1/4; }
    .item-video__title {
      grid-row: 1/2;
      grid-column: 2/3;
      padding: 100px 0 0 0;
      margin: 0 140px 0 0;
      font-size: 20px; }
      .item-video__title::after {
        top: 47px;
        left: 0;
        width: 32px;
        height: 22px; }
    .item-video__description {
      grid-row: 2/3;
      grid-column: 2/3;
      margin: 0 65px 0 0;
      font-size: 15px;
      line-height: 2; }
    .item-video__button {
      grid-column: 2/3;
      grid-row: 3/4;
      margin: 50px 57px 60px 0;
      font-size: 17px; }
    .item-video__play {
      grid-row: 1/4; } }

.container {
  grid-column: 1/2; }

@media (min-width: 320px) {
  .order {
    display: grid; }
    .order__title {
      margin: 0;
      padding: 60px 0 72px 0;
      font-size: 27px;
      text-align: center;
      background-color: #f1f1f1; }
    .order__description {
      margin: 25px 48px 30px 30px;
      font-size: 13px;
      line-height: 1.85;
      color: #444444; }
    .order__form {
      margin: 0 30px; }
    .order__fieldset {
      position: relative;
      padding: 23px 0 23px 0;
      border: none;
      border-top: 1px solid #63d1bb; }
      .order__fieldset input[type="text"], .order__fieldset input[type="tel"], .order__fieldset input[type="email"] {
        width: 100%;
        padding: 16px 0;
        font-size: 17px;
        border: none;
        border-bottom: 2px solid #000000;
        border-radius: 0; }
      .order__fieldset legend {
        position: absolute;
        top: -12px;
        left: 0;
        padding: 0 27px 0 0;
        color: #63d1bb;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #ffffff; }
      .order__fieldset__list {
        margin: 0;
        padding: 0;
        list-style: none; }
        .order__fieldset__list li {
          padding: 15px 0 15px 60px;
          font-size: 17px;
          font-weight: bold;
          line-height: 1.06; }
    .order__required {
      margin: 0 0 30px 0;
      font-size: 14px;
      color: #444444; }
    .order__button {
      width: 100%;
      padding: 14px 0 14px 0;
      margin: 0 0 55px 0;
      color: #444444;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid #444444;
      cursor: pointer; }
  .order__fieldset--type {
    padding: 23px 0 32px 0; }
    .order__fieldset--type .order__fieldset__list input:checked + label::after {
      content: "";
      position: absolute;
      top: 6px;
      left: -48px;
      width: 16px;
      height: 16px;
      background-color: #63d1bb;
      border-radius: 50%; }
    .order__fieldset--type .order__fieldset__list label {
      position: relative;
      cursor: pointer; }
      .order__fieldset--type .order__fieldset__list label::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -60px;
        width: 35px;
        height: 35px;
        background-color: #ffffff;
        border: 2px solid #444444;
        border-radius: 50%; }
  .order__fieldset--color {
    padding: 23px 0 18px 0; }
    .order__fieldset--color .order__fieldset__list li {
      padding: 20px 0 25px 60px; }
    .order__fieldset--color .order__fieldset__list input:checked + label::after {
      content: url("../img/icon-tick.svg");
      position: absolute;
      top: 0;
      left: -59px;
      width: 20px;
      height: 16px; }
    .order__fieldset--color .order__fieldset__list label {
      position: relative;
      cursor: pointer; }
      .order__fieldset--color .order__fieldset__list label::before {
        content: "";
        position: absolute;
        top: -8px;
        left: -62px;
        width: 35px;
        height: 35px;
        border: 2px solid #444444; }
  .order__fieldset--name {
    padding: 35px 0 20px 0; }
    .order__fieldset--name .order__fieldset__list li {
      padding: 0;
      margin: 0 0 19px 0; }
  .order__fieldset--tel {
    padding: 12px 0 40px 0; }
  .order__fieldset--email {
    padding: 12px 0 40px 0; }
  .order__fieldset--add {
    padding: 33px 0 10px 0; }
    .order__fieldset--add textarea {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      padding: 11px 13px;
      height: 140px;
      font-size: 17px;
      border: 2px solid #000000;
      border-radius: 0;
      resize: none; } }

@media (min-width: 768px) {
  .container {
    grid-column: 1/3; }
  .order__title {
    font-size: 43px; }
  .order__description {
    margin: 76px 105px 61px 51px;
    font-size: 17px; }
  .order__fieldset {
    border: none;
    padding: 0 0 0 217px;
    margin: 0 0 50px 0; }
    .order__fieldset legend {
      top: 10px;
      left: 51px;
      background-color: transparent; }
  .order__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0; }
  .order__fieldset--type {
    grid-column: 1/3;
    margin-bottom: 22px; }
    .order__fieldset--type .order__fieldset__list li {
      padding: 10px 0 45px 80px; }
    .order__fieldset--type .order__fieldset__list input:checked + label::after {
      left: -65px;
      width: 22px;
      height: 22px; }
    .order__fieldset--type .order__fieldset__list label {
      font-size: 19px; }
      .order__fieldset--type .order__fieldset__list label::before {
        top: -10px;
        left: -80px;
        height: 48px;
        width: 48px; }
  .order__fieldset--color {
    grid-column: 1/3;
    background-color: #f1f1f1;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0; }
    .order__fieldset--color legend {
      top: 65px; }
    .order__fieldset--color .order__fieldset__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .order__fieldset--color .order__fieldset__list input:checked + label::after {
        top: 4px;
        left: -70px; }
      .order__fieldset--color .order__fieldset__list li {
        padding: 8px 0 48px 80px; }
      .order__fieldset--color .order__fieldset__list label {
        font-size: 19px; }
        .order__fieldset--color .order__fieldset__list label::before {
          top: -11px;
          left: -80px;
          width: 49px;
          height: 49px; }
  .order__fieldset--name {
    grid-column: 1/3;
    padding: 0;
    margin: 0; }
    .order__fieldset--name legend {
      top: 60px; }
    .order__fieldset--name .order__fieldset__list {
      padding: 45px 50px 30px 219px; }
      .order__fieldset--name .order__fieldset__list li {
        display: grid;
        grid-template-columns: 1fr 3.75fr;
        grid-column-gap: 26px;
        margin: 0 0 19px 0;
        font-size: 19px; }
      .order__fieldset--name .order__fieldset__list input[type="text"] {
        padding: 17px 0 16px 0;
        font-size: 19px; }
      .order__fieldset--name .order__fieldset__list label {
        -ms-flex-item-align: center;
            align-self: center; }
  .order__fieldset--tel {
    grid-column: 1/3;
    padding: 48px 50px 0 217px;
    margin: 0;
    background-color: #f1f1f1; }
    .order__fieldset--tel input {
      background-color: #f1f1f1; }
    .order__fieldset--tel legend {
      top: 60px; }
  .order__fieldset--email {
    grid-column: 1/3;
    padding: 18px 50px 50px 217px;
    margin: 0;
    background-color: #f1f1f1; }
    .order__fieldset--email input {
      background-color: #f1f1f1; }
    .order__fieldset--email legend {
      top: 35px; }
  .order__fieldset--add {
    grid-column: 1/3;
    margin: 50px 50px 0 0; }
  .order__required {
    grid-column: 2/3;
    grid-row: 7/8;
    align-self: center;
    margin: 0 50px 0 auto;
    font-size: 17px; }
  .order__button {
    grid-column: 1/2;
    grid-row: 7/8;
    margin: 53px auto 50px 50px;
    width: 230px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media (min-width: 1150px) {
  .container {
    grid-column: 1/3;
    background-color: #f1f1f1; }
  .order__title {
    padding: 28px 0 111px 0;
    font-size: 53px; }
  .order__description {
    width: 672px;
    margin: 105px auto 61px auto; }
  .order__fieldset {
    padding-left: 225px; }
    .order__fieldset legend {
      left: 115px; }
  .order__fieldset--type {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto; }
  .order__fieldset--color {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 130px 20px 225px;
    margin: 0 auto; }
    .order__fieldset--color .order__fieldset__list {
      grid-template-columns: repeat(3, 1fr); }
  .order__fieldset--name {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto; }
    .order__fieldset--name .order__fieldset__list {
      padding: 50px 225px 40px 0; }
  .order__fieldset--tel {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 225px 0 225px; }
  .order__fieldset--email {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 225px 50px 225px; }
  .order__fieldset--add {
    width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 50px auto;
    padding: 0 225px; } }

@media (min-width: 320px) {
  .modal {
    position: fixed;
    display: none;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .modal__form {
    position: absolute;
    right: 50%;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    background-color: #ffffff;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    -webkit-box-shadow: 0 5px 10px 0 #c7c7c7;
            box-shadow: 0 5px 10px 0 #c7c7c7;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%); }
  .modal__title {
    width: 150px;
    margin: 31px 0 0 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .modal__description {
    width: 135px;
    margin: 11px 0 24px 0;
    font-size: 15px;
    line-height: 30px;
    color: #444444; }
  .modal__list {
    display: grid;
    grid-template-columns: repeat(3, 78px);
    grid-column-gap: 10px;
    padding: 0;
    margin: 0 0 31px 0;
    list-style: none; }
  .modal__label {
    padding: 12px 0 12px 0;
    color: #444444;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: 2px solid #ececec;
    cursor: pointer; }
  .modal__button {
    width: 260px;
    padding: 20px 0 20px 0;
    margin: 0 0 31px 0;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63d1bb;
    cursor: pointer;
    border: none; }
    .modal__button:hover {
      background-color: #444444; }
    .modal__button:active {
      color: rgba(255, 255, 255, 0.3); }
  .modal__list input:checked + label {
    border-color: #63d1bb; } }

@media (min-width: 768px) {
  .modal__form {
    width: 564px; }
  .modal__title {
    width: 355px;
    font-size: 30px;
    line-height: 57px; }
  .modal__description {
    font-size: 17px;
    width: 155px; }
  .modal__list {
    grid-template-columns: repeat(3, 108px); }
  .modal__button {
    width: 344px; } }

.modal--opened {
  display: block; }

/*# sourceMappingURL=style.css.map */
