@media (max-width: $tablet-width - 1px) {
  .main-screen {
    display: grid;
    background: url("../img/hero-mobile@1x.jpg") top center;


    &__title {
      padding: 69px 30px 125px 30px;
      margin: 0;
      color: $very-dark-brown;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.1;
      text-align: center;
    }

    &__item {
      position: relative;
      padding: 25px 150px 30px 30px;
      color: #ffffff;
      text-decoration: none;
      font-size: 19px;
      font-weight: bold;
      line-height: 1.26;

      &--interior {
        background-color: $seafoam-blue;

        &::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg") no-repeat;
          opacity: 0.5;
        }

        &:hover {
          background-color: $seafoam-blue-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }

      &--toys {
        background-color: $aqua-marine;

        &::after {
          position: absolute;
          top: 20%;
          right: 27px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg") no-repeat;
          opacity: 0.5;
        }

        &:hover {
          background-color: $aqua-marine-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    background: url("../img/hero-tablet@1x.jpg") top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/hero-tablet@2x.jpg") no-repeat top center;
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: auto 24px;
    }

    &__title {
      grid-column: 1/3;
      padding: 154px 0 375px 0;
      margin: 0;
      font-size: 43px;
      font-weight: bold;
      line-height: 1.16;
      text-align: center;
    }

    &__item {
      position: relative;
      padding: 30px 187px 40px 35px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.5;

      &--interior {
        margin: 0 0 0 52px;
        background-color: $seafoam-blue;

        &::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg");
          opacity: 0.5;
        }

        &:hover {
          background-color: $seafoam-blue-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }

      &--toys {
        margin: 0 50px 0 0;
        background-color: $aqua-marine;

        &::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg");
          opacity: 0.5;
        }

        &:hover {
          background-color: $aqua-marine-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1150px;
    margin: 0 auto;
    background: url("../img/hero-tablet@1x.jpg") center -60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/hero-tablet@2x.jpg") no-repeat center -60px;
      background-size: auto 750px;
    }

    &-wrapper {
      position: relative;
      background-color: $grey-back-2;

      &::after {
        position: absolute;
        content: "";
        bottom: -1px;
        width: 100%;
        height: 24px;
        background: url("../img/bg-zigzag-fill.svg") repeat-x;
        background-size: auto 24px;
      }
    }

    &__title {
      grid-column: 1/3;
      padding: 95px 0 360px 0;
      margin: 0;
      font-size: 53px;
      font-weight: bold;
      line-height: 1.08;
      text-align: center;
    }

    &__item {
      position: relative;
      padding: 30px 187px 40px 35px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.5;

      &--interior {
        margin: 0 0 0 52px;
        background-color: $seafoam-blue;

        &::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 40px;
          height: 62px;
          background: url("../img/icon-interior.svg");
          opacity: 0.5;
        }

        &:hover {
          background-color: $seafoam-blue-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }

      &--toys {
        margin: 0 50px 0 0;
        background-color: $aqua-marine;

        &::after {
          position: absolute;
          top: 20%;
          right: 36px;
          content: "";
          width: 60px;
          height: 60px;
          background: url("../img/icon-toy.svg");
          opacity: 0.5;
        }

        &:hover {
          background-color: $aqua-marine-two;

          &::after {
            opacity: 0.7;
          }
        }

        &:active {
          color: rgba(255, 255, 255, 0.3);

          &::after {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
