@media (min-width: $mobile-width) {
  .modal {
    position: fixed;
    display: none;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .modal__form {
    position: absolute;
    right: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: #ffffff;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: 0 5px 10px 0 #c7c7c7;
    transform: translateX(50%) translateY(-50%);
  }

  .modal__title {
    width: 150px;
    margin: 31px 0 0 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .modal__description {
    width: 135px;
    margin: 11px 0 24px 0;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  .modal__list {
    display: grid;
    grid-template-columns: repeat(3, 78px);
    grid-column-gap: 10px;
    padding: 0;
    margin: 0 0 31px 0;
    list-style: none;
  }

  .modal__label {
    padding: 12px 0 12px 0;
    color: #444444;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    border: 2px solid #ececec;
    cursor: pointer;
  }

  .modal__button {
    width: 260px;
    padding: 20px 0 20px 0;
    margin: 0 0 31px 0;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63d1bb;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: #444444;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .modal__list input:checked + label {
    border-color: #63d1bb;
  }
}

@media (min-width: $tablet-width) {
  .modal__form {
    width: 564px;
  }

  .modal__title {
    width: 355px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__description {
    font-size: 17px;
    width: 155px;
  }

  .modal__list {
    grid-template-columns: repeat(3, 108px);
  }

  .modal__button {
    width: 344px;
  }
}

.modal--opened {
  display: block;
}

