body {
  font-family: OpenSans, Arial, Helvetica;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "fonts";
@import "variables";
@import "page-header";
@import "main-screen";
@import "baskets";
@import "about";
@import "reviews";
@import "page-footer";
@import "contacts";
@import "catalog";
@import "process";
@import "order";
