$seafoam-blue: #63d1bb;
$seafoam-blue-two: #59d5bc;
$very-dark-brown: #010000;
$aqua-marine: #56c3b2;
$aqua-marine-two: #46c1ae;
$grey: #444444;
$light-grey: #ececec;
$grey-back: #f1f1f1;
$grey-back-2: #f9f9f9;


$desktop-width: 1150px;
$tablet-width: 768px;
$mobile-width: 320px;
